<br>
{{#if query}}
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #d9534f; color: white">
      <h3 class="panel-title">Error encountered during query to {{database}} database server</h3>
    </div>
    <div class="panel-body">
      <table>
        <tr><th style="vertical-align: top;" width="50px">Query</th><td style="vertical-align: top">{{query}}</td></tr>
        <tr><th style="vertical-align: top">Operators</th>   <td style="vertical-align: top">{{operators}}</td></tr>
        <tr><th style="vertical-align: top">Error</th>   <td style="vertical-align: top">{{error}}</td></tr>
      </table>
    </div>
</div>
{{else}}
<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #d9534f; color: white">
    <h3 class="panel-title">Error: {{message}}</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr><th style="vertical-align: top;" width="100px">Situation</th><td style="vertical-align: top">{{situation}}</td></tr>
      <tr><th style="vertical-align: top">Input</th>   <td style="vertical-align: top">{{input}}</td></tr>
    </table>
  </div>
</div>
{{/if}}
