<br>
<!-- Repo info panel -->
<div class="panel panel-default">
  {{#if repo}}
    <div class="panel-heading">
      <h3 class="panel-title">Repository <a style="text-decoration: underline" target="_blank"  href="https://github.com/{{repo.owner}}/{{repo.name}}">https://github.com/{{repo.owner}}/{{repo.name}}</a></h3>


          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-warning" onclick="clearSession();" style="float: right; margin-top: -15px">Clear session</button>
            </span>
          </div>
    </div>
    <div class="panel-body">
      <table>
        <tr><th style="vertical-align: top;" width="150px">Repo id</th>     <td style="vertical-align: top">{{repo.id}}</td></tr>
        <tr><th style="vertical-align: top">Owner + name</th><td style="vertical-align: top">{{repo.owner}}/{{repo.name}}</td></tr>
        <tr><th style="vertical-align: top">Description</th> <td style="vertical-align: top">{{{repo.description}}}</td></tr>
        <tr><th style="vertical-align: top">Languages</th>   <td style="vertical-align: top">{{#each repo.languages}}{{name}}, {{/each}}</td></tr>
        <tr><th style="vertical-align: top">Is the repo visible?</th> <td style="vertical-align: top">
          {{#if repo.is_visible}}
            <font color="green">Yes</font>
          {{else}}
            <font color="red">No</font>
          {{/if}}
        </td></tr>
        <tr><th style="vertical-align: top">Is this repo a fork?</th> <td style="vertical-align: top">
          {{#if (eq repo.fork "false")}}
            No
          {{else}}
            Yes; 
            {{#if repo.fork.parent}}
              parent = <a style="text-decoration: underline" target="_blank" href="https://github.com/{{repo.fork.parent}}">{{repo.fork.parent}}</a>
            {{else}}
              parent unknown
            {{/if}},
            {{#if repo.fork.root}}
              root = <a style="text-decoration: underline" target="_blank" href="https://github.com/{{repo.fork.root}}">{{repo.fork.root}}</a>
            {{else}}
              root unknown
            {{/if}}
          {{/if}}
        </td></tr>
        <tr><th style="vertical-align: top">Num. of commits</th>
          {{#if (or (eq repo.num_commits 0) repo.num_commits)}}
            <td style="vertical-align: top">{{repo.num_commits}}</td>
          {{else}}
            <td style="vertical-align: top"><font color="purple">Data not gathered</font></td>
          {{/if}}
        </tr>
        <tr><th style="vertical-align: top">Num. of releases</th>
          {{#if (or (eq repo.num_releases 0) repo.num_releases)}}
            <td style="vertical-align: top">{{repo.num_releases}}</td>
          {{else}}
            <td style="vertical-align: top"><font color="purple">Data not gathered</font></td>
          {{/if}}
        </tr>
        <tr><th style="vertical-align: top">Num. of branches</th>
          {{#if (or (eq repo.num_branches 0) repo.num_branches)}}
            <td style="vertical-align: top">{{repo.num_branches}}</td>
          {{else}}
            <td style="vertical-align: top"><font color="purple">Data not gathered</font></td>
          {{/if}}
        </tr>
        <tr><th style="vertical-align: top">Num. of contributors</th>
          {{#if (or (eq repo.num_contributors 0) repo.num_contributors)}}
            <td style="vertical-align: top">{{repo.num_contributors}}</td>
          {{else}}
            <td style="vertical-align: top"><font color="purple">Data not gathered</font></td>
          {{/if}}
        </tr>
        <tr><th style="vertical-align: top">Content type</th><td style="vertical-align: top">
          {{#each repo.content_type}}
            {{content}} (based on {{basis}})
          {{else}}
            <font color="orange">(No content type assigned yet)</font>
          {{/each}}
        </td></tr>
        <tr><th style="vertical-align: top">Files</th>   <td style="vertical-align: top">
          {{#if (eq repo.files -1)}}
            <font color="red">Empty</font>
          {{else}}
            <div class="inline-list"> 
              {{#each repo.files}}{{this}}<br>{{/each}}
            </div>
          {{/if}}
        </td></tr>
        <tr><th style="vertical-align: top">Topics</th><td style="vertical-align: top">
          <ul style="margin-left: -20px">
            {{#each repo.topics}}
              <li>{{title}} <input type="submit" value="Remove" onclick="removeTopic('{{key}}');"></li>
            {{/each}}
          </ul></td></tr>
        <tr><th style="vertical-align: top">Functions</th>   <td style="vertical-align: top">{{#each repo.functions}}{{lcsh}}<br>{{/each}}</td></tr>
      </table>
    </div>
  {{else}}
    <div class="panel-heading">
      <h3 class="panel-title">Repository search</h3>
    </div>
    <center>
      <div class="panel-body">
        <form action="/post-github-lookup" method="POST" role="form">
          <div>
            <div class="input-group">
              <input name="github_search_string" type="text" id="searchInput" class="form-control" placeholder="Repo ID or owner/name" autofocus>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" onclick="this.form.submit()">Look up</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </center>
  {{/if}}
</div>

<!-- LCSH frequently used panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Frequently-used Library of Concress Subject Headings <em class="text-info">(with comments)</em></h3>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info" data-toggle="collapse" data-target="#frequent"" style="float: right; margin-top: -15px">Show</button>
      </span>
    </div>
  </div>
  <div id="frequent" class="panel-body collapse" data-toggle="false">
    <center>
      <form action="/post-lcsh-frequent-terms" method="POST" role="form">
        <table>
<!-- 
     <tr>
     <td>
     <input name="terms[selected]" type="checkbox" value="">
     <label for="terms[]" style="font-weight: normal">: </label>
     </td>
     </tr>
-->
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2008001447">
              <label for="terms[sh2008001447]" style="font-weight: normal">sh2008001447: Libraries <em class="text-info">(Non-standalone collections of functions meant to be linked into applications)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh98001621">
              <label for="terms[sh98001621]" style="font-weight: normal">sh98001621: Plug-ins <em class="text-info">(Non-standalone utilities that only work inside composite apps or frameworks)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85141625">
              <label for="terms[sh85141625]" style="font-weight: normal">sh85141625: Utilities <em class="text-info">(Standalone applications with focused functionality)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh90001980">
              <label for="terms[sh90001980]" style="font-weight: normal">sh90001980: Application software <em class="text-info">(Typical standalone application software)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh98001790">
              <label for="terms[sh98001790]" style="font-weight: normal">sh98001790: Component software <em class="text-info">(Runnable applications to be incorporated into larger application)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2013002773">
              <label for="terms[sh2013002773]" style="font-weight: normal">sh2013002773: Software frameworks <em class="text-info">(Frameworks such as Django, Cocoa, etc., meant as foundations)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh88000222">
              <label for="terms[sh88000222]" style="font-weight: normal">sh88000222: Integrated software <em class="text-info">(A complete, self-contained suite such as Microsoft Office)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2012002516">
              <label for="terms[sh2012002516]" style="font-weight: normal">sh2012002516: Composite applications <em class="text-info">(An app built from elements such as web services)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93002168">
              <label for="terms[sh93002168]" style="font-weight: normal">sh93002168: Graphical user interfaces <em class="text-info">(add sh2008009921 too if apropriate)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh98004527">
              <label for="terms[sh98004527]" style="font-weight: normal">sh98004527: Application program interfaces (Computer software)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2008009921">
              <label for="terms[sh2008009921]" style="font-weight: normal">sh2008009921: Web-based user interfaces</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2006004062">
              <label for="terms[sh2006004062]" style="font-weight: normal">sh2006004062: Ajax (Web site development technology)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85003487">
              <label for="terms[sh85003487]" style="font-weight: normal">sh85003487: Algorithms</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh92005723">
              <label for="terms[sh92005723]" style="font-weight: normal">sh92005723: File conversion</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85136975">
              <label for="terms[sh85136975]" style="font-weight: normal">sh85136975: Translators</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85098312">
              <label for="terms[sh85098312]" style="font-weight: normal">sh85098312: Parsing (Computer grammar)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh86007767">
              <label for="terms[sh86007767]" style="font-weight: normal">sh86007767: Databases <em class="text-info">(Use 'online databases' instead, if appropriate.)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93000393">
              <label for="terms[sh93000393]" style="font-weight: normal">sh93000393: Online databases <em class="text-info">(Specialization of 'databases')</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh86007858">
              <label for="terms[sh86007858]" style="font-weight: normal">sh86007858: Database searching</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85035848">
              <label for="terms[sh85035848]" style="font-weight: normal">sh85035848: Database management</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85037973">
              <label for="terms[sh85037973]" style="font-weight: normal">sh85037973: Digital computer simulation</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029499">
              <label for="terms[sh85029499]" style="font-weight: normal">sh85029499: Computer games</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh95000713">
              <label for="terms[sh95000713]" style="font-weight: normal">sh95000713: Computer network resources</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029512">
              <label for="terms[sh85029512]" style="font-weight: normal">sh85029512: Computer network protocols</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93009551">
              <label for="terms[sh93009551]" style="font-weight: normal">sh93009551: Device drivers (Computer programs)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85042297">
              <label for="terms[sh85042297]" style="font-weight: normal">sh85042297: Electronic data processing--Remote batch processing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85097826">
              <label for="terms[sh85097826]" style="font-weight: normal">sh85097826: Parallel processing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93000502">
              <label for="terms[sh93000502]" style="font-weight: normal">sh93000502: Client/server computing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2008004883">
              <label for="terms[sh2008004883]" style="font-weight: normal">sh2008004883: Cloud computing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2008008368">
              <label for="terms[sh2008008368]" style="font-weight: normal">sh2008008368: Service-oriented architecture</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2012001728">
              <label for="terms[sh2012001728]" style="font-weight: normal">sh2012001728: Web applications</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh96008680">
              <label for="terms[sh96008680]" style="font-weight: normal">sh96008680: Web sites</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2003001435">
              <label for="terms[sh2003001435]" style="font-weight: normal">sh2003001435: Web services</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh00009186">
              <label for="terms[sh00009186]" style="font-weight: normal">sh00009186: Web usage mining</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh92002381">
              <label for="terms[sh92002381]" style="font-weight: normal">sh92002381: Multimedia systems</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh90004922">
              <label for="terms[sh90004922]" style="font-weight: normal">sh90004922: Interactive multimedia</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh88002671">
              <label for="terms[sh88002671]" style="font-weight: normal">sh88002671: Hypertext systems</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2013000169">
              <label for="terms[sh2013000169]" style="font-weight: normal">sh2013000169: Data logging</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029564">
              <label for="terms[sh85029564]" style="font-weight: normal">sh85029564: Computers--Study and teaching</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85093159">
              <label for="terms[sh85093159]" style="font-weight: normal">sh85093159: Nucleotide sequence</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85010116">
              <label for="terms[sh85010116]" style="font-weight: normal">sh85010116: Automation</label>
            </td>
          </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary" onclick="this.form.submit()">Assign selected terms</button>
      </form>
    </center>
  </div>
</div>

<!-- LCSH search panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Library of Concress Subject Headings search</h3>
  </div>

  <div class="panel-body">
    <center>
      <form action="/post-lcsh-search" method="POST" role="form">
        <div class="input-group">
          <input name="lcsh_search_string" type="text" id="searchInput" class="form-control" placeholder="Search LCSH terms for...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="this.form.submit()">Search</button>
          </span>
        </div>
        <br>
        <input name="search_alt_labels" type="hidden" value="false">
        <input name="search_alt_labels" id="checkSearchAlt" type="checkbox" value="true" checked="true">
        <label for="search_alt_labels">Search alt labels</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="search_substrings" type="hidden" value="false">
        <input name="search_substrings" id="checkSubstringMatch" type="checkbox" value="true" checked="true">
        <label for="search_substrings">Substring match</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="use_regexp" type="hidden" value="false">
        <input name="use_regexp" id="checkRegexp" type="checkbox" value="true" checked="true">
        <label for="use_regexp">Regexp</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="topmost" type="hidden" value="false">
        <input name="topmost" id="checkTopmost" type="checkbox" value="true">
        <label for="topmost">Get topmost terms</label>
      </form>
      <div style="font-style: italic; font-size: small">
        Regexp's use JavaScript syntax. Some specialized operators to keep in mind:<br>
        <table>
          <tr>
            <th width="90px">Expression</th>
            <th width="200px">Meaning</th>
            <th width="90px">Expression</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td><code>.</code></td>
            <td>Any single character</td>
            <td><code>*</code></td>
            <td>Repeat previous pattern 0+ times</td>
          </tr>

          <tr>
            <td><code>\w</code></td>
            <td>A word character</td>
            <td><code>(x)</code></td>
            <td>Grouping</td>
          </tr>
          <tr>
            <td><code>\W</code></td>
            <td>A nonword character</td>
            <td><code>X|Y</code></td>
            <td>Either X or Y</td>
          </tr>
          <tr>
            <td><code>\s</code></td>
            <td>A whitespace character</td>
            <td><code>x(?=y)</code></td>
            <td>Matches x only if x is followed by y</td>
          </tr>
          <tr>
            <td><code>\S</code></td>
            <td>A nonwhitespace character</td>
            <td><code>x(?!y)</code></td>
            <td>Matches x only if x is not followed by y</td>
          </tr>
        </table>
      </div>
    </center>
  </div>
</div>

<!-- Annotation panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">LCSH search results</h3>
  </div>
  {{#if terms}}
    <div class="panel-body">
      <center>
        {{#if use_topmost}}
          {{total_topmost}} top-level terms traced from {{total_terms}} terms found by searching for "<b>{{search}}</b>".
        {{else}}
          {{total_terms}} terms found by searching for "<b>{{search}}</b>"
        {{/if}}
        <br>
        {{#if search_alt_labels}}
          Alt labels included in search.
        {{else}}
          Alt labels <b>excluded</b> from search.
        {{/if}}
        {{#if search_substrings}}
          Substrings matched.
        {{else}}
          Searched for exact strings.
        {{/if}}
        {{#if use_regexp}}
          Regexps used.
        {{else}}
          Regexp not used.
        {{/if}}
        <br>
        {{#if truncated}}
          <br>
          <b><i>Warning: database search results were truncated (number of results exceeded {{result_limit}})</i></b>
        {{/if}}
        <br>
      </center>
      <div id="tree">
      </div>
      <br>
      <center>
        <button type="button" class="btn btn-primary" onclick="sendSelections();">Add selections to topics</button>
        &nbsp;
        <button type="button" class="btn btn-default" onclick="clearSelections();">Clear selections</button>
        <br>
      </center>
    </div>
  {{else}}
    <center>
      No results returned.
    </center>

  {{/if}}
</div>
