<br>
<!-- Repo info panel -->
<div class="panel panel-default">
  {{#if repo}}

    <div class="panel-heading">
      <h3 class="panel-title">Repository
        <a style="text-decoration: underline" target="_blank"
           href="https://github.com/{{repo.owner}}/{{repo.name}}"
        >https://github.com/{{repo.owner}}/{{repo.name}}</a>
      </h3>
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-warning" onclick="clearSession();"
                  style="float: right; margin-top: -15px">Clear session</button>
        </span>
      </div>
    </div>

    <div class="panel-body">
      <table>
        <tr><th style="vertical-align: top;" width="150px">Repo id</th>
          <td style="vertical-align: top">{{repo.id}}&nbsp;&nbsp;&nbsp;&nbsp;
            ({{repo.owner}}/{{repo.name}})</td>
        </tr>
        <tr><th style="vertical-align: top">Description</th>
          <td style="vertical-align: top">{{{repo.description}}}</td>
        </tr>
        <tr><th style="vertical-align: top">Languages</th>
          <td style="vertical-align: top">{{#each repo.languages}}{{name}}, {{/each}}</td>
        </tr>
        <tr><th style="vertical-align: top">Is the repo visible?</th>
          <td style="vertical-align: top">
            {{#if repo.is_visible}}
              <font color="green">Yes</font>
            {{else}}
              <font color="red">No</font>
            {{/if}}
          </td>
        </tr>
        <tr><th style="vertical-align: top">Is this repo a fork?</th>
          <td style="vertical-align: top">
            {{#if (eq repo.fork "false")}}
              No
            {{else}}
              Yes; 
              {{#if repo.fork.parent}}
                parent = <a style="text-decoration: underline" target="_blank"
                            href="https://github.com/{{repo.fork.parent}}">{{repo.fork.parent}}</a>
              {{else}}
                parent unknown
              {{/if}},
              {{#if repo.fork.root}}
                root = <a style="text-decoration: underline" target="_blank"
                          href="https://github.com/{{repo.fork.root}}">{{repo.fork.root}}</a>
              {{else}}
                root unknown
              {{/if}}
            {{/if}}
          </td>
        </tr>
        <tr><th style="vertical-align: top">Num. of commits</th>
          <td style="vertical-align: top">
            {{#if (or (eq repo.num_commits 0) repo.num_commits)}}
              {{repo.num_commits}}
            {{else}}
              <font color="purple">Data not gathered</font>
            {{/if}}
          </td>
        </tr>
        <tr><th style="vertical-align: top">Num. of releases</th>
          <td style="vertical-align: top">
            {{#if (or (eq repo.num_releases 0) repo.num_releases)}}
              {{repo.num_releases}}
            {{else}}
              <font color="purple">Data not gathered</font>
            {{/if}}
          </td>
        </tr>
        <tr><th style="vertical-align: top">Num. of branches</th>
          <td style="vertical-align: top">
            {{#if (or (eq repo.num_branches 0) repo.num_branches)}}
              {{repo.num_branches}}
            {{else}}
              <font color="purple">Data not gathered</font>
            {{/if}}
          </td>
        </tr>
        <tr><th style="vertical-align: top">Num. of contributors</th>
          <td style="vertical-align: top">
            {{#if (or (eq repo.num_contributors 0) repo.num_contributors)}}
              {{repo.num_contributors}}
            {{else}}
              <font color="purple">Data not gathered</font>
            {{/if}}
          </td>
        </tr>
        <tr><th style="vertical-align: top">Files</th>
          <td>
            {{#if (eq repo.files -1)}}
              <font color="red">Empty</font>
            {{else}}
              <div class="inline-list"> 
                {{#each repo.files}}{{this}}<br>{{/each}}
              </div>
            {{/if}}
          </td>
        </tr>

        <tr>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
        </tr>

        <tr><th class="annotations" style="vertical-align: top">Content type</th>
          <td class="annotations" style="vertical-align: top">
            {{#each repo.content_type}}
              {{content}} (based on {{basis}})
            {{else}}
              <font color="orange">(No content type assigned yet)</font>
            {{/each}}
          </td>
        </tr>

        <tr>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
        </tr>

        <tr><th class="annotations" style="vertical-align: top">Kind of software</th>
          <td class="annotations" >
            <ul style="margin-left: -20px">
              {{#each repo.kind}}
                <li>{{this}} <input type="submit" value="Remove"
                                    onclick="removeKind('{{this}}');"></li>
              {{/each}}
            </ul>
          </td>
        </tr>

        <tr>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
        </tr>

        <tr><th class="annotations" style="vertical-align: top">Interfaces</th>
          <td class="annotations" >
            <ul style="margin-left: -20px">
              {{#each repo.interfaces}}
                <li>{{this}} <input type="submit" value="Remove"
                                    onclick="removeInterface('{{this}}');"></li>
              {{/each}}
            </ul>
          </td>
        </tr>

        <tr>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
        </tr>

        <tr><th class="annotations" style="vertical-align: top">Topics</th>
          <td class="annotations">
            <ul style="margin-left: -20px">
              {{#each repo.topics}}
                <li>{{title}} <input type="submit" value="Remove"
                                     onclick="removeTopic('{{key}}');"></li>
              {{/each}}
            </ul>
          </td>
        </tr>

        <tr>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
          <td><hr style="margin-bottom: 1ex; margin-top: 1.25ex"></td>
        </tr>

        <tr><th class="annotations" style="vertical-align: top">Functions</th>
          <td class="annotations"  style="vertical-align: top">
            {{#each repo.functions}}{{lcsh}}<br>{{/each}}
          </td>
        </tr>

      </table>
    </div>
  {{else}}
    <div class="panel-heading">
      <h3 class="panel-title">Repository search</h3>
    </div>
    <center>
      <div class="panel-body">
        <form action="/post-github-lookup" method="POST" role="form">
          <div>
            <div class="input-group">
              <input name="github_search_string" type="text" id="searchInput"
                     class="form-control" placeholder="Repo ID or owner/name" autofocus>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"
                        onclick="this.form.submit()">Look up</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </center>
  {{/if}}
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kind of software</h3>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info" data-toggle="collapse"
                data-target="#kind""
                style="float: right; margin-top: -15px">Show</button>
      </span>
    </div>
  </div>
  <div id="kind" class="panel-body collapse" data-toggle="false">
    <center>
      <form action="/post-kind-terms" method="POST" role="form">
        <table>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="application">
              <label for="terms[application]" style="font-weight: normal">Application software</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="component">
              <label for="terms[component]" style="font-weight: normal">Component software</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="embedded">
              <label for="terms[embedded]" style="font-weight: normal">Embedded/Embeddable software</label>
            </td>
          </tr>

        </table>
        <br>
        <button type="submit" class="btn btn-primary"
                onclick="this.form.submit()">Assign selected terms</button>
      </form>
    </center>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Interfaces</h3>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info" data-toggle="collapse"
                data-target="#interfaces""
                style="float: right; margin-top: -15px">Show</button>
      </span>
    </div>
  </div>
  <div id="interfaces" class="panel-body collapse" data-toggle="false">
    <center>
      <form action="/post-interfaces-terms" method="POST" role="form">
        <table>

          <tr>
            <th>UI</th>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="hardware user interface">
              <label for="terms[hardware user interface]" style="font-weight: normal"> hardware user interface</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="musical instrument digital interface" style="margin-left: 18px">
              <label for="terms[musical instrument digital interface]" style="font-weight: normal">musical instrument digital interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="hardware control panel" style="margin-left: 18px">
              <label for="terms[hardware control panel]" style="font-weight: normal">hardware control panel</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="text-based interface">
              <label for="terms[text-based interface]" style="font-weight: normal"> text-based interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="batch interface" style="margin-left: 18px">
              <label for="terms[batch interface]" style="font-weight: normal">batch interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="command-line interface" style="margin-left: 18px">
              <label for="terms[command-line interface]" style="font-weight: normal">command-line interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="interactive text-based interface" style="margin-left: 18px">
              <label for="terms[interactive text-based interface]" style="font-weight: normal">interactive text-based interface</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="graphical user interface">
              <label for="terms[graphical user interface]" style="font-weight: normal"> graphical user interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="desktop graphical user interface" style="margin-left: 18px">
              <label for="terms[desktop graphical user interface]" style="font-weight: normal">desktop graphical user interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="mobile graphical user interface" style="margin-left: 18px">
              <label for="terms[mobile graphical user interface]" style="font-weight: normal">mobile graphical user interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="web-based user interface" style="margin-left: 18px">
              <label for="terms[web-based user interface]" style="font-weight: normal">web-based user interface</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="voice user interface">
              <label for="terms[voice user interface]" style="font-weight: normal"> voice user interface</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="touch user interface">
              <label for="terms[touch user interface]" style="font-weight: normal"> touch user interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="pen tablet interface" style="margin-left: 18px">
              <label for="terms[pen tablet interface]" style="font-weight: normal">pen tablet interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="haptic user interface" style="margin-left: 18px">
              <label for="terms[haptic user interface]" style="font-weight: normal">haptic user interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="Braille terminal" style="margin-left: 36px">
              <label for="terms[Braille terminal]" style="font-weight: normal">Braille terminal</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="kinetic user interface">
              <label for="terms[kinetic user interface]" style="font-weight: normal"> kinetic user interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="gesture-driven interface" style="margin-left: 18px">
              <label for="terms[gesture-driven interface]" style="font-weight: normal">gesture-driven interface</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="brain-computer interface">
              <label for="terms[brain-computer interface]" style="font-weight: normal"> brain-computer interface</label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="virtual reality user interface">
              <label for="terms[virtual reality user interface]" style="font-weight: normal"> virtual reality user interface</label>
            </td>
          </tr>

          <tr>
            <th>API</th>
          </tr>

          <!-- -->
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="function/class library interface">
              <label for="terms[function/class library interface]" style="font-weight: normal"> function/class library interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="COM interface" style="margin-left: 18px">
              <label for="terms[COM interface]" style="font-weight: normal">COM interface</label>
            </td>
          </tr>

          <!-- -->
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="shared-memory multiprocessing interface">
              <label for="terms[shared-memory multiprocessing interface]" style="font-weight: normal"> shared-memory multiprocessing interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="OpenMP" style="margin-left: 18px">
              <label for="terms[OpenMP]" style="font-weight: normal">OpenMP</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="CUDA" style="margin-left: 18px">
              <label for="terms[CUDA]" style="font-weight: normal">CUDA</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="OpenCL" style="margin-left: 18px">
              <label for="terms[OpenCL]" style="font-weight: normal">OpenCL</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="Pthreads" style="margin-left: 18px">
              <label for="terms[Pthreads]" style="font-weight: normal">Pthreads</label>
            </td>
          </tr>

          <!-- -->
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="network communications interface">
              <label for="terms[network communications interface]" style="font-weight: normal">network communications interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="network sockets" style="margin-left: 18px">
              <label for="terms[network sockets]" style="font-weight: normal">network sockets</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="WebSocket" style="margin-left: 36px">
              <label for="terms[WebSocket]" style="font-weight: normal">WebSocket</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="message-passing interface" style="margin-left: 18px">
              <label for="terms[message-passing interface]" style="font-weight: normal">message-passing interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="D-Bus" style="margin-left: 36px">
              <label for="terms[D-Bus]" style="font-weight: normal">D-Bus</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="PVM" style="margin-left: 36px">
              <label for="terms[PVM]" style="font-weight: normal">PVM</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="MPI" style="margin-left: 36px">
              <label for="terms[MPI]" style="font-weight: normal">MPI</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="JMS" style="margin-left: 36px">
              <label for="terms[JMS]" style="font-weight: normal">JMS</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="XMPP" style="margin-left: 36px">
              <label for="terms[XMPP]" style="font-weight: normal">XMPP</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="MSMQ" style="margin-left: 36px">
              <label for="terms[MSMQ]" style="font-weight: normal">MSMQ</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="AMQP" style="margin-left: 36px">
              <label for="terms[AMQP]" style="font-weight: normal">AMQP</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="ActiveMQ" style="margin-left: 36px">
              <label for="terms[ActiveMQ]" style="font-weight: normal">ActiveMQ</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="RabbitMQ" style="margin-left: 36px">
              <label for="terms[RabbitMQ]" style="font-weight: normal">RabbitMQ</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="ZeroMQ" style="margin-left: 36px">
              <label for="terms[ZeroMQ]" style="font-weight: normal">ZeroMQ</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="IronMQ" style="margin-left: 36px">
              <label for="terms[IronMQ]" style="font-weight: normal">IronMQ</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="EagleMQ" style="margin-left: 36px">
              <label for="terms[EagleMQ]" style="font-weight: normal">EagleMQ</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="QPID" style="margin-left: 36px">
              <label for="terms[QPID]" style="font-weight: normal">QPID</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="Kafka" style="margin-left: 36px">
              <label for="terms[Kafka]" style="font-weight: normal">Kafka</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="RPC/RMI interface" style="margin-left: 18px">
              <label for="terms[RPC/RMI interface]" style="font-weight: normal">RPC/RMI interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="Java RMI" style="margin-left: 36px">
              <label for="terms[Java RMI]" style="font-weight: normal">Java RMI</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="CORBA" style="margin-left: 36px">
              <label for="terms[CORBA]" style="font-weight: normal">CORBA</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="DCOM" style="margin-left: 36px">
              <label for="terms[DCOM]" style="font-weight: normal">DCOM</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value=".NET Remoting" style="margin-left: 36px">
              <label for="terms[.NET Remoting]" style="font-weight: normal">.NET Remoting</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="web services interface" style="margin-left: 36px">
              <label for="terms[web services interface]" style="font-weight: normal">web services interface</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="XML-RPC" style="margin-left: 54px">
              <label for="terms[XML-RPC]" style="font-weight: normal">XML-RPC</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="JSON-RPC" style="margin-left: 54px">
              <label for="terms[JSON-RPC]" style="font-weight: normal">JSON-RPC</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="REST" style="margin-left: 54px">
              <label for="terms[REST]" style="font-weight: normal">REST</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="SOAP" style="margin-left: 54px">
              <label for="terms[SOAP]" style="font-weight: normal">SOAP</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="Ajax" style="margin-left: 54px">
              <label for="terms[Ajax]" style="font-weight: normal">Ajax</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="WCF" style="margin-left: 54px">
              <label for="terms[WCF]" style="font-weight: normal">WCF</label>
            </td>
          </tr>

        </table>
        <br>
        <button type="submit" class="btn btn-primary"
                onclick="this.form.submit()">Assign selected terms</button>
      </form>
    </center>
  </div>
</div>


<!-- LCSH frequently used panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Frequently-used LCSH topic terms
      <em class="text-info">(with comments)</em></h3>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info" data-toggle="collapse"
                data-target="#frequent""
                style="float: right; margin-top: -15px">Show</button>
      </span>
    </div>
  </div>
  <div id="frequent" class="panel-body collapse" data-toggle="false">
    <center>
      <form action="/post-lcsh-frequent-terms" method="POST" role="form">
        <table>
<!-- 
     <tr>
     <td>
     <input name="terms[selected]" type="checkbox" value="">
     <label for="terms[]" style="font-weight: normal">: </label>
     </td>
     </tr>
-->
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2012001728">
              <label for="terms[sh2012001728]" style="font-weight: normal">sh2012001728: Web applications <em class="text-info">(When the software is something <b>for</b> web apps)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2013002773">
              <label for="terms[sh2013002773]" style="font-weight: normal">sh2013002773: Software frameworks <em class="text-info">(when the software is something <b>for</b> frameworks such as Django)</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85003487">
              <label for="terms[sh85003487]" style="font-weight: normal">sh85003487: Algorithms</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh92005723">
              <label for="terms[sh92005723]" style="font-weight: normal">sh92005723: File conversion</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85136975">
              <label for="terms[sh85136975]" style="font-weight: normal">sh85136975: Translators</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85098312">
              <label for="terms[sh85098312]" style="font-weight: normal">sh85098312: Parsing (Computer grammar)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85027644">
              <label for="terms[sh85027644]" style="font-weight: normal">sh85027644: Code generators</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh86007767">
              <label for="terms[sh86007767]" style="font-weight: normal">sh86007767: Databases <em class="text-info">(Use 'online databases' instead, if appropriate.)</em></label>
            </td>
          </tr>

          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93000393">
              <label for="terms[sh93000393]" style="font-weight: normal">sh93000393: Online databases <em class="text-info">(Specialization of 'databases')</em></label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh86007858">
              <label for="terms[sh86007858]" style="font-weight: normal">sh86007858: Database searching</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85035848">
              <label for="terms[sh85035848]" style="font-weight: normal">sh85035848: Database management</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85037973">
              <label for="terms[sh85037973]" style="font-weight: normal">sh85037973: Digital computer simulation</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029499">
              <label for="terms[sh85029499]" style="font-weight: normal">sh85029499: Computer games</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh95000713">
              <label for="terms[sh95000713]" style="font-weight: normal">sh95000713: Computer network resources</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029512">
              <label for="terms[sh85029512]" style="font-weight: normal">sh85029512: Computer network protocols</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93009551">
              <label for="terms[sh93009551]" style="font-weight: normal">sh93009551: Device drivers (Computer programs)</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85042297">
              <label for="terms[sh85042297]" style="font-weight: normal">sh85042297: Electronic data processing--Remote batch processing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85097826">
              <label for="terms[sh85097826]" style="font-weight: normal">sh85097826: Parallel processing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh93000502">
              <label for="terms[sh93000502]" style="font-weight: normal">sh93000502: Client/server computing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2008004883">
              <label for="terms[sh2008004883]" style="font-weight: normal">sh2008004883: Cloud computing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2008008368">
              <label for="terms[sh2008008368]" style="font-weight: normal">sh2008008368: Service-oriented architecture</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh96008680">
              <label for="terms[sh96008680]" style="font-weight: normal">sh96008680: Web sites</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2003001435">
              <label for="terms[sh2003001435]" style="font-weight: normal">sh2003001435: Web services</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh00009186">
              <label for="terms[sh00009186]" style="font-weight: normal">sh00009186: Web usage mining</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh92002381">
              <label for="terms[sh92002381]" style="font-weight: normal">sh92002381: Multimedia systems</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh90004922">
              <label for="terms[sh90004922]" style="font-weight: normal">sh90004922: Interactive multimedia</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh88002671">
              <label for="terms[sh88002671]" style="font-weight: normal">sh88002671: Hypertext systems</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2013000169">
              <label for="terms[sh2013000169]" style="font-weight: normal">sh2013000169: Data logging</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85035859">
              <label for="terms[sh85035859]" style="font-weight: normal">sh85035859: Data protection</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029564">
              <label for="terms[sh85029564]" style="font-weight: normal">sh85029564: Computers--Study and teaching</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85133053">
              <label for="terms[sh85133053]" style="font-weight: normal">sh85133053: Teaching--Aids and devices</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh90003145">
              <label for="terms[sh90003145]" style="font-weight: normal">sh90003145: Software documentation</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029537">
              <label for="terms[sh85029537]" style="font-weight: normal">sh85029537: Computer software--Verification</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85029526">
              <label for="terms[sh85029526]" style="font-weight: normal">sh85029526: Computer programs--Testing</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85093159">
              <label for="terms[sh85093159]" style="font-weight: normal">sh85093159: Nucleotide sequence</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85004484">
              <label for="terms[sh85004484]" style="font-weight: normal">sh85004484: Amino acid sequence</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85037008">
              <label for="terms[sh85037008]" style="font-weight: normal">sh85037008: DNA</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85113850">
              <label for="terms[sh85113850]" style="font-weight: normal">sh85113850: RNA</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh85010116">
              <label for="terms[sh85010116]" style="font-weight: normal">sh85010116: Automation</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2007006251">
              <label for="terms[sh2007006251]" style="font-weight: normal">sh2007006251: Smartphones</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2010009240">
              <label for="terms[sh2010009240]" style="font-weight: normal">sh2010009240: Tablet computers</label>
            </td>
          </tr>
          <tr>
            <td>
              <input name="terms[selected]" type="checkbox" value="sh2003001289">
              <label for="terms[sh2003001289]" style="font-weight: normal">sh2003001289: IEEE 802.11 (Standard)</label>
            </td>
          </tr>
        </table>
        <br>
        <button type="submit" class="btn btn-primary" onclick="this.form.submit()">Assign selected terms</button>
      </form>
    </center>
  </div>
</div>

<!-- LCSH search panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Library of Concress Subject Headings search</h3>
  </div>

  <div class="panel-body">
    <center>
      <form action="/post-lcsh-search" method="POST" role="form">
        <div class="input-group">
          <input name="lcsh_search_string" type="text" id="searchInput" class="form-control" placeholder="Search LCSH terms for...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="this.form.submit()">Search</button>
          </span>
        </div>
        <br>
        <input name="search_alt_labels" type="hidden" value="false">
        <input name="search_alt_labels" id="checkSearchAlt" type="checkbox" value="true" checked="true">
        <label for="search_alt_labels">Search alt labels</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="search_substrings" type="hidden" value="false">
        <input name="search_substrings" id="checkSubstringMatch" type="checkbox" value="true" checked="true">
        <label for="search_substrings">Substring match</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="use_regexp" type="hidden" value="false">
        <input name="use_regexp" id="checkRegexp" type="checkbox" value="true" checked="true">
        <label for="use_regexp">Regexp</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input name="topmost" type="hidden" value="false">
        <input name="topmost" id="checkTopmost" type="checkbox" value="true">
        <label for="topmost">Get topmost terms</label>
      </form>
      <div style="font-style: italic; font-size: small">
        Regexp's use JavaScript syntax. Some specialized operators to keep in mind:<br>
        <table>
          <tr>
            <th width="90px">Expression</th>
            <th width="200px">Meaning</th>
            <th width="90px">Expression</th>
            <th>Meaning</th>
          </tr>
          <tr>
            <td><code>.</code></td>
            <td>Any single character</td>
            <td><code>*</code></td>
            <td>Repeat previous pattern 0+ times</td>
          </tr>

          <tr>
            <td><code>\w</code></td>
            <td>A word character</td>
            <td><code>(x)</code></td>
            <td>Grouping</td>
          </tr>
          <tr>
            <td><code>\W</code></td>
            <td>A nonword character</td>
            <td><code>X|Y</code></td>
            <td>Either X or Y</td>
          </tr>
          <tr>
            <td><code>\s</code></td>
            <td>A whitespace character</td>
            <td><code>x(?=y)</code></td>
            <td>Matches x only if x is followed by y</td>
          </tr>
          <tr>
            <td><code>\S</code></td>
            <td>A nonwhitespace character</td>
            <td><code>x(?!y)</code></td>
            <td>Matches x only if x is not followed by y</td>
          </tr>
        </table>
      </div>
    </center>
  </div>
</div>

<!-- Annotation panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">LCSH search results</h3>
  </div>
  {{#if terms}}
    <div class="panel-body">
      <center>
        {{#if use_topmost}}
          {{total_topmost}} top-level terms traced from {{total_terms}} terms found by searching for "<b>{{search}}</b>".
        {{else}}
          {{total_terms}} terms found by searching for "<b>{{search}}</b>"
        {{/if}}
        <br>
        {{#if search_alt_labels}}
          Alt labels included in search.
        {{else}}
          Alt labels <b>excluded</b> from search.
        {{/if}}
        {{#if search_substrings}}
          Substrings matched.
        {{else}}
          Searched for exact strings.
        {{/if}}
        {{#if use_regexp}}
          Regexps used.
        {{else}}
          Regexp not used.
        {{/if}}
        <br>
        {{#if truncated}}
          <br>
          <b><i>Warning: database search results were truncated (number of results exceeded {{result_limit}})</i></b>
        {{/if}}
        <br>
      </center>
      <div id="tree">
      </div>
      <br>
      <center>
        <button type="button" class="btn btn-primary" onclick="sendSelections();">Add selections to topics</button>
        &nbsp;
        <button type="button" class="btn btn-default" onclick="clearSelections();">Clear selections</button>
        <br>
      </center>
    </div>
  {{else}}
    <center>
      No results returned.
    </center>

  {{/if}}
</div>
