<table>
<tr><td style="vertical-align: top">Repo id</td><td style="vertical-align: top">=</td><td style="vertical-align: top"><a target="_blank" href="https://github.com/{{owner}}/{{name}}">{{id}}</a></td></tr>
<tr><td style="vertical-align: top">Owner</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{owner}}</tr>
<tr><td style="vertical-align: top">Name</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{name}}</td></tr>
<tr><td style="vertical-align: top">Description</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{description}}}</td></tr>
<tr><td style="vertical-align: top">Languages</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{languages}}}</td></tr>
<tr><td style="vertical-align: top">Licenses</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{licenses}}}</td></tr>
<tr><td style="vertical-align: top">Homepage</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{homepage}}}</td></tr>
<tr><td style="vertical-align: top">Is visible?</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{is_visible}}</td></tr>
<tr><td style="vertical-align: top">Is deleted?</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{is_deleted}}</td></tr>
</table>

