<table>
<tr><td style="vertical-align: top">Term id</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{id}}</td></tr>
<tr><td style="vertical-align: top">Label</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{label}}</td></tr>
<tr><td style="vertical-align: top">Alt labels</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{alt_labels}}}</td></tr>
<tr><td style="vertical-align: top">Narrower</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{narrower}}}</td></tr>
<tr><td style="vertical-align: top">Broader</td><td style="vertical-align: top">=</td><td style="vertical-align: top">{{{broader}}}</td></tr>
</table>
